In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
apps = pd.read_csv('googleplaystore.csv')
apps

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [3]:
apps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10839 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

In [4]:
print('Number of apps in data=', apps['App'].count())

Number of apps in data= 10841

In [5]:
n= 5
apps.sample(n)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
6228,DSLR Photography Training apps,PHOTOGRAPHY,4.0,675,15M,"100,000+",Free,0,Everyone,Photography,"July 29, 2017",2.1,2.3 and up
2959,ESPN,SPORTS,4.2,521138,Varies with device,"10,000,000+",Free,0,Everyone 10+,Sports,"July 19, 2018",Varies with device,5.0 and up
1944,Extreme Match,GAME,4.5,696,Varies with device,"100,000+",Free,0,Everyone,Action,"July 5, 2018",1.1.7,4.1 and up
7411,CI On The Go,NEWS_AND_MAGAZINES,3.0,2,14M,100+,Free,0,Everyone,News & Magazines,"July 18, 2018",v4.30.0.8,5.0 and up
10742,GKPB FP Online Church,LIFESTYLE,5.0,32,7.9M,"1,000+",Free,0,Everyone,Lifestyle,"December 31, 2017",0.7.1,4.4 and up

In [6]:
#Check for Null Values
apps.isna().sum()

App                  0
Category             1
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       0
Genres               1
Last Updated         0
Current Ver          8
Android Ver          2
dtype: int64

In [7]:
#Check Duplicate rows
app_dup =apps[apps.duplicated()]
len (app_dup)

483

In [8]:
#Drop Duplicate Rows in DF
apps.drop_duplicates(inplace= True)

In [9]:
#Use Function to replace any symbol and change the data type
def strip_cols(col_name):
    col_name=col_name.str.replace('$','')
    col_name=col_name.str.replace('+','')
    col_name=col_name.str.replace(',','')
    col_name=col_name.str.replace('M','e+6')
    col_name=col_name.str.replace('k','e+3')
    col_name=col_name.str.replace(' and up','')
    #col_name=col_name.str.strip('.GP','')
    #col_name=col_name.str.strip('W','')
    #col_name=col_name.str.strip('-prod','')
    
    return col_name

def change_dtype(col_name):
    col_name=col_name.astype('float')
    return col_name

def change_intdtype(col_name):
    col_name=col_name.astype('int64')
    return col_name

def replace_nan(col):
    col = col.replace('Varies with device',np.nan)
    return col

**Cleaning App columns**

In [10]:
apps.App.value_counts()

ROBLOX                                        9
8 Ball Pool                                   7
Helix Jump                                    6
Zombie Catchers                               6
Bubble Shooter                                6
                                             ..
Motorola Spotlight Player™                    1
Best DP And Video Status 2018 For Whatsapp    1
Alarm.fo – choose your info                   1
The Secret Daily Teachings                    1
O'Route Orienteering                          1
Name: App, Length: 9660, dtype: int64

In [11]:
apps.App.nunique()

9660

**Cleaning Rating columns**

In [12]:
apps['Rating'].value_counts()

4.4    1032
4.3    1016
4.5     977
4.2     888
4.6     768
4.1     657
4.0     539
4.7     484
3.9     372
3.8     293
5.0     271
3.7     231
4.8     228
3.6     169
3.5     157
3.4     127
3.3     101
4.9      87
3.0      82
3.1      69
3.2      64
2.9      45
2.8      40
2.6      24
2.7      23
2.3      20
2.5      20
2.4      19
1.0      16
2.2      14
1.9      13
2.0      12
1.7       8
2.1       8
1.8       8
1.6       4
1.4       3
1.5       3
1.2       1
Name: Rating, dtype: int64

**Cleaning Price columns**

In [13]:
apps.Price.value_counts().sort_index()

$0.99      146
$1.00        3
$1.04        1
$1.20        1
$1.26        1
          ...
$8.99        5
$89.99       1
$9.00        1
$9.99       19
0         9593
Name: Price, Length: 92, dtype: int64

In [14]:
apps['Price'] = strip_cols(apps['Price'])
apps['Price'] = change_dtype(apps['Price'])

In [15]:
#Validating
apps.Price.value_counts().sort_index()

0.00      9593
0.99       146
1.00         3
1.04         1
1.20         1
          ...
379.99       1
389.99       1
394.99       1
399.99      12
400.00       1
Name: Price, Length: 92, dtype: int64

**Cleaning Size Columns**

In [16]:
#Check Size Columns
apps.Size.value_counts()

Varies with device    1526
11M                    188
13M                    186
12M                    186
14M                    182
                      ...
705k                     1
61k                      1
308k                     1
585k                     1
322k                     1
Name: Size, Length: 461, dtype: int64

In [17]:
apps['Size'] = replace_nan(apps['Size'])
apps['Size'] = strip_cols(apps['Size'])
apps['Size'] = change_dtype(apps['Size'])

In [18]:
#Validating Size Column
apps['Size'].value_counts()

11000000.0    188
13000000.0    186
12000000.0    186
14000000.0    182
15000000.0    174
             ...
544000.0        1
429000.0        1
97000.0         1
412000.0        1
811000.0        1
Name: Size, Length: 459, dtype: int64

**Cleaning Installs Columns**

In [19]:
apps['Installs'].value_counts()

1,000,000+        1488
10,000,000+       1132
100,000+          1129
10,000+           1033
1,000+             891
100+               710
5,000,000+         683
500,000+           517
50,000+            474
5,000+             469
10+                385
100,000,000+       369
500+               328
50,000,000+        272
50+                204
5+                  82
1+                  67
500,000,000+        61
1,000,000,000+      49
0+                  14
0                    1
Name: Installs, dtype: int64

In [20]:
apps['Installs'] = strip_cols(apps['Installs'])
apps['Installs'] = change_intdtype(apps['Installs'])

In [21]:
#Validating Columns
apps['Installs'].value_counts().sort_index()

0               15
1               67
5               82
10             385
50             204
100            710
500            328
1000           891
5000           469
10000         1033
50000          474
100000        1129
500000         517
1000000       1488
5000000        683
10000000      1132
50000000       272
100000000      369
500000000       61
1000000000      49
Name: Installs, dtype: int64

**Check Review Columns**

In [22]:
apps['Reviews'].value_counts().sort_index()

0           593
1           272
2           213
3           170
4           137
           ...
66577446      1
69109672      1
69119316      1
78128208      1
78158306      1
Name: Reviews, Length: 6001, dtype: int64

**Cleaning a Genre Columns**

In [23]:
apps['Genres'].isna().sum()
apps = apps[apps['Genres'].notnull()]

apps['Genres'].value_counts().sort_values()

Travel & Local;Action & Adventure      1
Casual;Music & Video                   1
Role Playing;Education                 1
Tools;Education                        1
Strategy;Creativity                    1
                                    ...
Medical                              408
Business                             427
Education                            527
Entertainment                        588
Tools                                842
Name: Genres, Length: 119, dtype: int64

In [24]:
#Use Split to exclude ; and make a primary and secondary
prim = apps.Genres.apply(lambda x:x.split(';')[0])
apps['Prim_Genre']=prim
apps['Prim_Genre'].tail()

10836            Education
10837            Education
10838              Medical
10839    Books & Reference
10840            Lifestyle
Name: Prim_Genre, dtype: object

In [25]:
sec = apps.Genres.apply(lambda x:x.split(';')[-1])
apps['Sec_Genre']=sec
apps['Sec_Genre'].tail()

10836            Education
10837            Education
10838              Medical
10839    Books & Reference
10840            Lifestyle
Name: Sec_Genre, dtype: object

In [26]:
group_gen=apps.groupby(['Prim_Genre','Sec_Genre'])
group_gen.size().head(20)

Prim_Genre         Sec_Genre
Action             Action                356
                   Action & Adventure     15
Adventure          Action & Adventure     13
                   Adventure              75
                   Brain Games             1
                   Education               2
Arcade             Action & Adventure     15
                   Arcade                218
                   Pretend Play            1
Art & Design       Action & Adventure      2
                   Art & Design           58
                   Creativity              7
                   Pretend Play            2
Auto & Vehicles    Auto & Vehicles        85
Beauty             Beauty                 53
Board              Action & Adventure      3
                   Board                  44
                   Brain Games            15
                   Pretend Play            1
Books & Reference  Books & Reference     230
dtype: int64

In [27]:
apps.drop(['Genres'],axis=1,inplace=True)

**Reorder Columns**

In [28]:
apps.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Last Updated,Current Ver,Android Ver,Prim_Genre,Sec_Genre
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000000.0,10000,Free,0.0,Everyone,"January 7, 2018",1.0.0,4.0.3 and up,Art & Design,Art & Design
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000000.0,500000,Free,0.0,Everyone,"January 15, 2018",2.0.0,4.0.3 and up,Art & Design,Pretend Play
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700000.0,5000000,Free,0.0,Everyone,"August 1, 2018",1.2.4,4.0.3 and up,Art & Design,Art & Design
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000000.0,50000000,Free,0.0,Teen,"June 8, 2018",Varies with device,4.2 and up,Art & Design,Art & Design
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2800000.0,100000,Free,0.0,Everyone,"June 20, 2018",1.1,4.4 and up,Art & Design,Creativity

In [29]:
apps.columns.values

array(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Last Updated', 'Current Ver',
       'Android Ver', 'Prim_Genre', 'Sec_Genre'], dtype=object)

In [33]:
column = ['App', 'Prim_Genre', 'Sec_Genre', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Last Updated', 'Current Ver',
       'Android Ver']

In [34]:
apps = apps[column]

In [35]:
apps.head()

,App,Prim_Genre,Sec_Genre,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,Art & Design,Art & Design,ART_AND_DESIGN,4.1,159,19000000.0,10000,Free,0.0,Everyone,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,Art & Design,Pretend Play,ART_AND_DESIGN,3.9,967,14000000.0,500000,Free,0.0,Everyone,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",Art & Design,Art & Design,ART_AND_DESIGN,4.7,87510,8700000.0,5000000,Free,0.0,Everyone,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,Art & Design,Art & Design,ART_AND_DESIGN,4.5,215644,25000000.0,50000000,Free,0.0,Teen,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,Art & Design,Creativity,ART_AND_DESIGN,4.3,967,2800000.0,100000,Free,0.0,Everyone,"June 20, 2018",1.1,4.4 and up

**Cleaning Last Update Columns**

In [36]:
apps['Last Updated'].value_counts().sort_values()

June 3, 2014            1
December 20, 2015       1
January 25, 2015        1
September 16, 2014      1
October 8, 2012         1
                     ...
July 30, 2018         195
August 1, 2018        257
July 31, 2018         269
August 2, 2018        270
August 3, 2018        298
Name: Last Updated, Length: 1377, dtype: int64

In [37]:
apps['Last Updated'] = pd.to_datetime(apps['Last Updated'])

In [38]:
apps['Last Updated'].value_counts().sort_index()

2010-05-21      1
2011-01-30      1
2011-03-16      1
2011-04-11      1
2011-04-16      1
             ...
2018-08-04     96
2018-08-05     49
2018-08-06    141
2018-08-07     41
2018-08-08      5
Name: Last Updated, Length: 1377, dtype: int64

**Cleaning Current Ver Columns**

In [39]:
apps['Current Ver'].value_counts().sort_values()

16.00                    1
33.0.0.22.76             1
3.17.0+3                 1
2.4.5                    1
v3.1.1                   1
                      ...
2.0                    149
1.2                    177
1.1                    260
1.0                    802
Varies with device    1302
Name: Current Ver, Length: 2831, dtype: int64

In [40]:
apps.drop(apps[apps['Current Ver']=='MONEY'].index,inplace=True)

In [41]:
apps['Current Ver'] = replace_nan(apps['Current Ver'])

In [42]:
apps['Current Ver'].sample(20)

2384            1.3
4572            NaN
10010    3.30.4.207
10375           1.0
7743            2.8
10402           1.0
10447           NaN
2344          1.2.2
3683          1.5.1
3320          3.0.5
7365          7.5.1
4602            NaN
8860           3.16
6546            NaN
7158       2.00.0.3
5677            1.2
5728          5.1.2
1344          3.6.4
2541           43.0
1210          2.0.0
Name: Current Ver, dtype: object

**Cleaning Android Ver Columns**

In [43]:
apps['Android Ver'].value_counts().sort_values()

2.2 - 7.1.1              1
4.1 - 7.1.1              1
5.0 - 6.0                1
7.0 - 7.1.1              1
5.0 - 7.1.1              1
4.0.3 - 7.1.1            2
1.0 and up               2
5.0 - 8.0                2
7.1 and up               3
8.0 and up               6
2.0.1 and up             7
3.1 and up              10
4.4W and up             11
1.5 and up              20
5.1 and up              22
2.0 and up              32
3.2 and up              36
7.0 and up              42
6.0 and up              58
1.6 and up             116
2.1 and up             133
4.3 and up             235
3.0 and up             237
2.2 and up             239
2.3.3 and up           279
4.2 and up             387
5.0 and up             546
2.3 and up             643
4.4 and up             894
Varies with device    1221
4.0 and up            1337
4.0.3 and up          1451
4.1 and up            2378
Name: Android Ver, dtype: int64

In [44]:
apps['Android Ver'] = strip_cols(apps['Android Ver'])
apps['Android Ver'] = replace_nan(apps['Android Ver'])
apps['Android Ver'].replace('4.4W','4.4',inplace=True)

In [45]:
#Validating
apps['Android Ver'].value_counts().sort_values()

2.2 - 7.1.1         1
5.0 - 7.1.1         1
7.0 - 7.1.1         1
5.0 - 6.0           1
4.1 - 7.1.1         1
1.0                 2
4.0.3 - 7.1.1       2
5.0 - 8.0           2
7.1                 3
8.0                 6
2.0.1               7
3.1                10
1.5                20
5.1                22
2.0                32
3.2                36
7.0                42
6.0                58
1.6               116
2.1               133
4.3               235
3.0               237
2.2               239
2.3.3             279
4.2               387
5.0               546
2.3               643
4.4               905
4.0              1337
4.0.3            1451
4.1              2378
Name: Android Ver, dtype: int64

In [46]:
#Check Category
apps['Category'].value_counts().sort_values()

BEAUTY                   53
PARENTING                60
COMICS                   60
EVENTS                   64
ART_AND_DESIGN           65
HOUSE_AND_HOME           80
WEATHER                  82
AUTO_AND_VEHICLES        85
LIBRARIES_AND_DEMO       85
ENTERTAINMENT           111
FOOD_AND_DRINK          124
EDUCATION               130
MAPS_AND_NAVIGATION     137
VIDEO_PLAYERS           175
DATING                  196
SHOPPING                224
BOOKS_AND_REFERENCE     230
TRAVEL_AND_LOCAL        237
NEWS_AND_MAGAZINES      264
SOCIAL                  280
HEALTH_AND_FITNESS      306
PHOTOGRAPHY             322
SPORTS                  351
FINANCE                 360
COMMUNICATION           366
LIFESTYLE               372
PERSONALIZATION         388
PRODUCTIVITY            407
MEDICAL                 408
BUSINESS                427
TOOLS                   843
GAME                   1121
FAMILY                 1943
Name: Category, dtype: int64

In [47]:
#Check Type
apps['Type'].value_counts()

Free    9591
Paid     764
Name: Type, dtype: int64

In [48]:
#Check Content Rating
apps['Content Rating'].value_counts()

Everyone           8381
Teen               1146
Mature 17+          447
Everyone 10+        377
Adults only 18+       3
Unrated               2
Name: Content Rating, dtype: int64

In [49]:
apps.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10356 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10356 non-null  object
 1   Prim_Genre      10356 non-null  object
 2   Sec_Genre       10356 non-null  object
 3   Category        10356 non-null  object
 4   Rating          8892 non-null   float64
 5   Reviews         10356 non-null  int64
 6   Size            8830 non-null   float64
 7   Installs        10356 non-null  int64
 8   Type            10355 non-null  object
 9   Price           10356 non-null  float64
 10  Content Rating  10356 non-null  object
 11  Last Updated    10356 non-null  datetime64[ns]
 12  Current Ver     9046 non-null   object
 13  Android Ver     9133 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(2), object(8)
memory usage: 1.2+ MB

In [50]:
# Categorical and Numerical Values:
num_var = apps.select_dtypes(include=['int64','float64']).columns
cat_var = apps.select_dtypes(include=['object','datetime64','timedelta64']).columns
num_var,cat_var

(Index(['Rating', 'Reviews', 'Size', 'Installs', 'Price'], dtype='object'),
 Index(['App', 'Prim_Genre', 'Sec_Genre', 'Category', 'Type', 'Content Rating',
        'Last Updated', 'Current Ver', 'Android Ver'],
       dtype='object'))

In [51]:
apps.isna().sum()

App                  0
Prim_Genre           0
Sec_Genre            0
Category             0
Rating            1464
Reviews              0
Size              1526
Installs             0
Type                 1
Price                0
Content Rating       0
Last Updated         0
Current Ver       1310
Android Ver       1223
dtype: int64

In [53]:
missing_perc = (apps.isna().sum()*100)/len(apps)
missing_df = pd.DataFrame({'columns':apps.columns,'missing_percent':missing_perc})
missing_df

                       columns  missing_percent
App                        App         0.000000
Prim_Genre          Prim_Genre         0.000000
Sec_Genre            Sec_Genre         0.000000
Category              Category         0.000000
Rating                  Rating        14.136732
Reviews                Reviews         0.000000
Size                      Size        14.735419
Installs              Installs         0.000000
Type                      Type         0.009656
Price                    Price         0.000000
Content Rating  Content Rating         0.000000
Last Updated      Last Updated         0.000000
Current Ver        Current Ver        12.649672
Android Ver        Android Ver        11.809579

In [54]:
col_cat = ['Type','Current Ver','Android Ver']
for col in col_cat:
    apps[col].fillna(apps[col].mode()[0],inplace=True)
    
col_num=['Rating','Size']
for col in col_num:
    apps[col].fillna(apps[col].median(),inplace=True)

In [55]:
apps.isna().sum()

App               0
Prim_Genre        0
Sec_Genre         0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

In [56]:
apps.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10356 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10356 non-null  object
 1   Prim_Genre      10356 non-null  object
 2   Sec_Genre       10356 non-null  object
 3   Category        10356 non-null  object
 4   Rating          10356 non-null  float64
 5   Reviews         10356 non-null  int64
 6   Size            10356 non-null  float64
 7   Installs        10356 non-null  int64
 8   Type            10356 non-null  object
 9   Price           10356 non-null  float64
 10  Content Rating  10356 non-null  object
 11  Last Updated    10356 non-null  datetime64[ns]
 12  Current Ver     10356 non-null  object
 13  Android Ver     10356 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(2), object(8)
memory usage: 1.2+ MB

In [77]:
apps.to_csv('clean_playstore.csv', index = False)

**Create a new file in other notebook for Visualization**